*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:100vh;
}
header{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    gap: 5rem;
    height: 30px;
    justify-content: center;
}
.logo-bar{
    display:grid;
    grid-auto-flow: column;
    height: 30px;
    place-items: center;
  
}
.search-bar{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    height: 30px;
    padding: 0.5rem 6rem;
}
.account-bar{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    place-items: center;

}