* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100vh;
}
header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  gap: 5rem;
  height: 60px;
  padding: 5px 15px;
  justify-content: center;
}
.logo-bar {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}
.search-bar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  padding: 0.5rem 6rem;
}
button {
  border-radius: 0;
  border-left: none;
  border: 0.2px solid;
}
.account-bar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  place-items: center;
}
.user {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 10px;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
}
.user-logo {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  color: blue;
}
main {
  display: grid;
  grid-auto-flow: column;
  grid-template:
    "left-menu main-part" 1fr /
    auto 1fr;
  height: 100vh;
}
.left-menu {
  grid-area: left-menu;
  padding: 0.2rem;
  border-right: 1px solid #ccc;
}
.main-part {
  grid-area: main-part;
  display: grid;
  grid-template-rows: 70px 1fr;
}
.menu-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 10px;
  place-items: center;
  text-decoration: none;
  color: inherit;
}
.menu-item h4 {
  justify-self: start;
  padding-top: 3px;
  padding-right: 20px;
}
.menu-item.one {
  background-color: rgba(130, 127, 127, 0.434);
}
.menu-item.one .material-symbols-outlined {
  color: red;
}
.menu-items {
  padding: 0.5rem 0.2rem;
  border-bottom: 1px solid #ccc;
}
.left-menu-sign-in {
  display: grid;
  place-items: start;
  gap: 10px;
  padding: 1.5rem;
  border-bottom: 1px solid #ccc;
}
.user-logo.left {
  padding: 0.5rem;
  border: 1px solid blue;
  border-radius: 5px;
}
.text-sign {
  padding: 2px;
  align-self: center;
}

.main-header {
  display: grid;
  grid-auto-flow: column;
  padding: 1rem;
  gap: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  place-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-header-item {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 7px;
  text-decoration: none;
  color: black;
  background-color: #cececb;
}
.main-part-video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 270px;
  gap: 10px;
  padding: 1rem;
}
.main-part-item {
  display: grid;
  background-color: red;
}
.main-part-item1 {
  display: grid;
  grid-template-rows: 70% 40%;
}
.video-one-time {
  background-color: black;
  color: white;
  width: 45px;
  height: 20px;
  place-self: end;
}
.video-one {
  display: grid;
  background-image: url(./images/video1.webp);
  background-size: cover;
}
.video-info {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60px 1fr;
}
.personal-logo {
  place-items: center;
  padding: 5px;
}

.video-description {
  display: grid;
  padding: 10px;
  gap: 5px;
  font-size: 12px;
}
.personal-logo img {
  place-self: center;
  border-radius: 50%;
}
.left-menu.mobile {
  display: none;
}

.main-header.mobile {
  place-items: start;
  display: none;
}
header.mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  header {
    display: none;
  }
  header.mobile {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    justify-content: space-between;
  }
  .search-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    padding: 0.5rem 0.2rem;
  }
}

@media screen and (max-width: 600px) {
  .left-menu {
    display: none;
  }
  .left-menu.mobile {
    display: block;
  }

  .main-header {
    display: none;
  }
  .main-header.mobile {
    display: grid;
  }
}
@media screen and (max-width: 420px) {
  .left-menu.mobile {
    display: none;
  }
  input {
    display: none;
  }
  button {
    background-color: white;
    border: none;
  }
}
